@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between mt-5">
    <div class="col-5 bg-light p-3 rounded shadow">
        <partial name="LoginPartial" class="bg-light" />
    </div>

    <div class="col-5 bg-light p-3 rounded shadow">
        <partial name="RegisterPartial" class="bg-light" />
    </div>
</div>
